<br>
<div class="row">
<div class="col-xs-1" style="margin-top : 6px;">
<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), client_mails_path %>
</div>
<div class="col-xs-4" style="margin-left : -30px;">
<h1>Editar Correo</h1>
</div>
</div>


<%= render 'form' %>