
<p id="notice"><%= notice %></p>
<h1>Usuario</h1>
<div ALIGN=center>
<p>
  <strong>Correo:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Rol:</strong>
  <%= @user.role%>
</p>


</div>
<div ALIGN=right>
<%= link_to 'Atrás', users_path, :class => 'btn btn-default btn' %>
</div>
