
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <%print @client_mail%>
    <strong><%= @client_mail.body %></strong>
    <p>
      
    </p>
  </body>
</html>