<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
	<h1>Felicitaciones <%=@client.name%> has sido añadido a lista de Elemétrica</h1>
	<p>
		<%=truncate(@client.email, length: 30)%>
	</p>
		<p>
			<a href="https://www.youtube.com/watch?v=71sly5UgNTA"></a>
		</p>
	</body>
</html>