<h1>Resultados</h1>


<% if @search_supplier.search_suppliers.empty? %>
<p> No se encontraron proveedores </p>
<%else%>

<%@search_supplier.search_suppliers.each do |c|%>
<br>
<div class="div">
		<h1><%=c.name%></h1>
		<p>Apellido: <%=c.lastname%></p>
		<p>Correo: <%=c.email%></p>

</div>
<%end%>
<%end%>

<%= link_to 'Atrás', new_search_supplier_path, :class => 'btn btn-default btn'  %>
