<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), clients_path %>
<h1>Editar Cliente</h1>

<%= render 'form' %>
<!--
<%= link_to 'Mostrar', @client %> 
<%= link_to 'Atrás', clients_path %>
-->
</div>
