<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<!--esta etiqueta parece ser la que importa los estilos css al pdf-->
		<%=wicked_pdf_stylesheet_link_tag 'pdf'%>

		<meta charset="Utf-8">
	</head>
	<body>
	<h1>Clientes en el Sistema</h1>
	
		<table>
		<thead>
			<tr>
			    <th style="width: 200;">Nombre</th>
				<th style="width: 200;">RIF</th>
			</tr>
		</thead>
		<tbody>
		  <% @clients.each do |client|%>
			<tr>
				 <td><%=client.name%></td>
				 <td><%=client.rif%></td>
			</tr>
		  <%end%>

		</tbody>
		</table>
	</body>
	
	<div class="row">
		<div class="col-xs-6">
			
				<div id="orders_chart" style="width: 400px; height: 300px;
				-moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
				box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);"><%= pie_chart @topDebtorsbyAmount, label: "Deuda Bs", download: true, discrete: true   %></div>
		</div>
		</div>
</html>