<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<!--esta etiqueta parece ser la que importa los estilos css al pdf-->
		<%=wicked_pdf_stylesheet_link_tag 'pdf'%>

		<meta charset="Utf-8">
	</head>
	<div align="center">
		<body onload="number_pages()">
		<h1>Clientes en el Sistema</h1>
		
			<table>
			<thead>
				<tr>
				    <th style="width: 200;">Nombre</th>
					<th style="width: 200;">RIF</th>
				</tr>
			</thead>
			<tbody>
			  <% @clients.each do |client|%>
				<tr>
					 <td><%=client.name%></td>
					 <td><%=client.rif%></td>
				</tr>
			  <%end%>

			</tbody>
			</table>
		</body>
	</div>
<img src="/home/daniel/Escritorio/chart.png">
<img src="/home/daniel/Escritorio/chart.png">
<img src="/home/daniel/Escritorio/chart.png">
<img src="/home/daniel/Escritorio/chart.png">
<img src="/home/daniel/Escritorio/chart.png">
</html>