
<h1>Tarifa</h1>
<div ALIGN=center>
<p>
  <strong>Nombre:</strong>
  <%= @constant.name %>
</p>

<p>
  <strong>Monto:</strong>
  <%= @constant.amount %>
</p>
<p>

</div>

</p>
<div ALIGN=right>

<%= link_to 'Atrás', constants_path, :class => 'btn btn-default btn' %>
</div>

