<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
	<strong>Recuerda hacer tus pagos a tiempo</strong>
	
		<p align="center">
  <a style="-webkit-border-radius: 6;-moz-border-radius: 6;border-radius: 6px;
    font-family: Arial;color: #ffffff;font-size: 15px;background: #00004c ;
    padding: 10px 20px 10px 20px;text-decoration: none;"
    href="http://localhost:3000">Registrar Pago
  </a>
</p>
<br>
<p align="center">
  <b>¡Te invitamos a ver los avances de nuestra plataforma!</b>
</p>
<p align="center">
  Ingresa a Elemétrica y haz click en "Visita la nueva versión".
</p>
<br>
<p align="center">
  <a style="-webkit-border-radius: 6;
    -moz-border-radius: 6;border-radius: 6px;font-family: Arial;color: #ffffff;
    font-size: 17px;background: #00004c;padding: 10px 20px 10px 20px;
    text-decoration: none;" href="https://elemetrica.com/app">Ingresar a Elemétrica</a>
</p>
	</body>
</html>
