	<div align="Center">
		<h1>Configuraciones del Sistema</h1>
	 	<li style="list-style:none;">
			<%= link_to 'Descuentos', controller: 'discounts', :class => 'btn btn-default btn'  %>
		</li>
		<br>
		<br>
		<li style="list-style:none;">
			<%= link_to 'Gestión de Roles', controller: 'users' %>
		</li>
		<br>
		<br>
		<li style="list-style:none;">
			<%= link_to 'Tarifas', controller: 'constants' %>
		</li>
	</div>
