	<div align="Center">
		<h1>Configuraciones del Sistema</h1>
	 	
	 	<br><br>
		<div class="row">
	      <div class="col-xs-6">
	        <%= link_to 'Descuentos' , discounts_path, :class => 'btn btn-default btn'   %>
	      </div>
     
	      <div class="col-xs-6">
	        <%= link_to 'Gestión de Roles' , users_path, :class => 'btn btn-default btn'   %>
	      </div>
  		</div>
  		<br>
  		<br>
		  <div class="row">
		      <div class="col-xs-6">
		        <%= link_to 'Tarifas' , rates_path, :class => 'btn btn-default btn'   %>
		     </div>
		  </div>

	</div>
