<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    hola
    </p>
<p align="center">
  <b>Nuevo pago registrado</b>
</p>
<br>
  </body>
</html>