<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Estamos en contacto con usted para informarle que su correo se cambia a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Estamos en contacto con usted para informarle que su correo se cambia a <%= @resource.email %>.</p>
<% end %>
