<p>Hola <%= @resource.email %>!</p>

<p>Alguien ha solicitado un link para cambiar tu contrase침a. Puede hacerlo mediante el enlace de abajo.</p>

<p><%= link_to 'Cambiar Contrase침a', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no solicit칩 esto, ignore este mensaje.</p>
<p>La contrase침a no va a cambiar hasta que acceda al enlace anterior y cree uno nuevo.</p>
