<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a un excesivo número de inicios de sesión fallidos.</p>

<p>Haga clic en el enlace de abajo para abrir tu cuenta:</p>

<p><%= link_to 'Desbloquear Cuenta', unlock_url(@resource, unlock_token: @token) %></p>
