<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
	<%c = @client.id%>
	<h1><%=Clientmail.where(:client_id => c).last.body%>o</h1>
	
		<p>
			<a href="https://www.youtube.com/watch?v=71sly5UgNTA"></a>
		</p>
	</body>
</html>