<div align="center">
	<table class="table table-default table-responsive table-striped">
	    
	    <tr>
		    <th style="width: 200px;"> Fecha </th>
	        <th style="width: 200px;"> Proveedor </th>
	        <th style="width: 200px;"> Descripción </th>
	        <th style="width: 200px;"> Monto </th>
				
		</tr>
       
	    <tbody>
			     <% @accountpayables.each do |accountpayable| %>
			        <td><%= accountpayable.date %></td>
			        <td><%= accountpayable.supplier.name %></td>
			        <td><%= accountpayable.descripcion%></td>
			        
				<%end%>

		</tbody>
	</table>
</div>
