<%= link_to image_tag('/assets/back.ico',  title: "Atrás"), suppliers_path %>
<h1>Editar Proveedor</h1>

<%= render 'form' %>
<!--
<%= link_to 'Mostrar', @supplier %> |
<%= link_to 'Atrás', suppliers_path %>
-->

