<div align="center">
	<table class="table table-default table-responsive table-striped">
	    
	    <tr>
	        <th style="width: 200px;"> RIF </th>
	        <th style="width: 200px;"> Nombre </th>
	        <th style="width: 200px;"> Correo </th>
	        <th style="width: 200px;"> Dirección </th>
				<th colspan="3"></th>
		</tr>
       
	    <tbody>
			    <% @suppliers.each do |supplier| %>
			        <td><%= supplier.rif %></td>
			        <td><%= supplier.name %></td>
			        <td><%= supplier.email%></td>
			        <td><%= supplier.address%></td>
				<%end%>

		</tbody>
	</table>
</div>