/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "devise_styles.css";

.simple_form label {
  
  
  text-align: center;
  margin: 2px 10px;
}
.well-separator{
  margin-left: -44px;
  margin-right: -44px;
  min-height: 40px;
  padding: 10px 15px 10px 15px;
  margin-bottom: 20px;
  background-color: #fff;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

/*flash*/
.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
tbody {
    border: 1px solid #ccc;
}

@gray-lightest: lighten(#000, 97.25%);

@elemetrica-blue: #142c54;
@elemetrica-gray-background: #ededed;
@navbar-width: 200px;
@light-font-color: darken(white, 15%);
@dark-font-color: lighten(black, 15%);
@dark-header-font-color: #142c54;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body, html {
  background: #142c54!important;
  font-family: GothamNarrowBook;
  color: darken(white, 15%);
  width: 100%;
  /*height: 100%;*/
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: GothamNarrow;
}

h1, h2 {
  padding-bottom: 20px;
}

th {
  text-align: center;
}

// Para ui-bootstrap
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.panel {
  text-align: center;
  border-radius: 0px;
}

#view {
    padding: 0 15px;
  height: 100%;
    min-height: 568px;
  color: lighten(black, 15%);
  background-color: #ededed;

  h1, h2, h3, h4, h5 {
    color: #142c54;
  }
}

@media(min-width:768px) {
    #view {
        position: inherit;
        margin: 0 8px 0 200px;
        padding: 0 30px;
    }
}

.login {
  text-align: center;

  .logo {
    max-height: 80px;
    margin: 16px 0px;
  }
}

// --Sidebar

.sidebar {
  background-color: #142c54!important;
    .sidebar-nav.navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
}

.sidebar ul li {
  background-color: lighten(#142c54, 5%);
    a {
    color: darken(white, 15%);
        &.active, &.active:hover, &.active:focus {
          padding-left: 25px;
          color: lighten(black, 15%);
            background-color: #ededed;
        }
        &:hover, &:focus {
          background-color: darken(#142c54, 5%);
        }
    }
}


.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active > a > .fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: none !important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: fixed;
        width: 200px;
        height: 100%;
    }

    #bottom-menu {
      position: absolute;
      bottom: 0px;
      width:200px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {
        margin-left: auto;
    }
}

.navbar-default {
  .logo {
      padding: 20px;
  }
}

.chart-panel {

  .chart {
    height: 250px;
    width: 100%;
  }
}

.table-panel {

  .panel-body {
    padding: 0px;
  }

  .table {
    margin-bottom: 0px;
  }
}

.daterange {
  margin-top: 20px;

  .date-input {
    max-width: 150px;
  }

  .dropdown-menu button {
    border: 0px;
  }
}

.btn, .form-control {
  border-radius: 0px;
}

.container {
  margin-top: -20px;
}

//.table > tbody > tr.warning > td {
  //background-color: darken(@state-warning-bg, 10%);
//}
.pretty th .current {
padding-right: 12px;
background-repeat: no-repeat;
background-position: right center;
}


.pretty th .asc {
  background-image: url(/images/up_arrow.png);
}

.pretty th .asc {
  background-image: url(/images/down_arrow.gift);
}
/*forms*/

.bar-search {
  position: relative;
  .form-control{
    max-width:75%;
  }
}

.loop-icon{
  position: absolute;
  top: 0;
  right: 0;
}

.add-icon{
  display: inline-block;
  vertical-align: top; 
}
/*/////////*/
.right-separator-red{
  .btn{
    vertical-align: top;

  }

}

down vote
select {
    /*for firefox*/
    -moz-appearance: none;
    /*for chrome*/
    -webkit-appearance:none;
}
.nav {
  button {
    color: darken(white, 15%);
    background-color: lighten(#142c54, 5%);

  }
  li {
    li {
      background:rgb(55, 84, 132);
      a {
        color: #fff;
        display: block;
        padding: 10px 15px;
      }
    }
  }
}
