
<h1>Descuento</h1>
<div ALIGN=center>
<p>
  <strong>Nombre:</strong>
  <%= @discount.name %>
</p>

<p>
  <strong>Porcentaje:</strong>
  <%= @discount.percentage.to_s.gsub('.', ',') %>
</p>
<p>

</div>

</p>
<div ALIGN=right>

<%= link_to 'Atrás', discounts_path, :class => 'btn btn-default btn' %>
</div>
