<h1>Menú Principal</h1>
<li>
<%= link_to 'Clientes', controller: 'clients' %>
</li>
<li>
<%= link_to 'Proveedores', controller: 'suppliers' %></%>
</li>
<li>
<%= link_to 'Cuentas por Cobrar', controller: 'accountreceivables' %>
</li>
<li>
<%= link_to 'Cuentas por Pagar', controller: 'accountpayables' %>
</li>