<h1>Menú Principal</h1>
<%= link_to 'Clientes', controller: 'clients' %>
<%= link_to 'Proveedores', controller: 'suppliers' %>
<%= link_to 'Cuentas por Cobrar', controller: 'accountreceivables' %>
<%= link_to 'Cuentas por Pagar', controller: 'accountpayables' %>