<div ALIGN=center>
<h1>Menú Principal</h1>
<br>


<li style="list-style:none;">
<%= link_to 'Clientes', controller: 'clients' %>
</li>

<br>


<li style="list-style:none;">
<%= link_to 'Proveedores', controller: 'suppliers' %></%>
</li>


<br>

<li style="list-style:none;">
<%= link_to 'Cuentas por Cobrar', controller: 'accountreceivables' %>
</li>


<br>


<li style="list-style:none;">
<%= link_to 'Cuentas por Pagar', controller: 'accountpayables' %>


</div>